.cart-details h3 {
  margin: 0.5rem;
}

.cart-details button {
  padding: 8px 10px;
  margin: 0.5rem;
  background-color: green;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
}

.cart-details button:disabled {
  opacity: 0.5;
}

.empty-cart-msg {
  text-align: center;
  margin: 1rem 0;
  padding: 8px;
  font-family: sans-serif;
}
.empty-cart-msg p {
  padding: 5px;
  font-size: 1.4rem;
}

.empty-cart-msg .menu-btn {
  background-color: #ff7844;
  color: #fff;
}
